.container-gamepage {
    background: linear-gradient(180deg, #000, #10a329 );
    position: absolute;
    height: 100%;
    width: 100%;     
}

.table-div {
    color: white;
    height: 65%;
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
}

.advance-div {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.advance-button {
    width: 400px;
    height: 150px;
    font-size: 18px;
}

.movelist-div {
    color: black;
    float: right;
    border: solid 1px black;
    width: 25%;
    height: 130%;
    background-color: gray;
}

.movelist-text {
    padding-left: 15px;
}

.movelist-title {
    padding-left: 15px;
    color: black;
}

.movelist-divider {
    background-color: black;
    width: 90%;
    border: 1px solid black;
    border-radius: 5px;
}