.container-gamepage {
  background: linear-gradient(180deg, #000, #10a329);
  position: absolute;
  height: 100%;
  width: 100%;
  font-family: "Cinzel", serif;
}

.table-div {
  color: white;
  height: 65%;
  margin-top: 30px;
  margin-left: 5%;
  margin-right: 5%;
}

.advance-div {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.advance-button {
  width: 400px;
  height: 150px;
  font-size: 18px;
  font-family: "Cinzel", serif;
}

.movelist-div {
  color: black;
  float: right;
  border: solid 1px black;
  width: 25%;
  height: 130%;
  background-color: lightgray;
}

.movelist-text {
  padding-left: 15px;
}

.movelist-title {
  padding-left: 15px;
  color: black;
}

.movelist-divider {
  background-color: black;
  width: 90%;
  border: 1px solid black;
  border-radius: 5px;
}

/* game rule button */
.button-div {
  float: right;
}

/* css for popup window */
.popup-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 50%;
  width: 50%;
  background: #e2e2e2;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  border-top: 1px solid white;
  animation: fade 0.5s ease 1 forwards;
  z-index: 1;
  font-family: "Cinzel", serif;
  
}

/* headline in popup window */
h3 {
  text-align: center;
  font-size: 30px;
}

/* close button in popup window */
.closeBtn {
  border: 1px solid rgb(121, 121, 121);
  border-radius: 50%;
}
