.container-gamepage {
    background: linear-gradient(180deg, #000, #10a329 );
    position: absolute;
    height: 100%;
    width: 100%;     
    font-family: "Cinzel", serif;
}






.card-row-div {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.foundation-div {
    float: right;
    display: flex;
    flex-direction: row;
}

.tableau-div {
    width: 100%;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
}

.top-row-div {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stack-div {
    display: flex;
    flex-direction: row;
}

.camera-container-div {
    border: 1px solid white;
    height: 100%;
    width: 100%;
}


/* game rule button */
.button-div {
    float: right;
  }
  
  /* css for popup window */
  .popup-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 50%;
    width: 50%;
    background: #e2e2e2;
    border-radius: 5px;
    padding-right: 5px;
    border-top: 1px solid white;
    animation: fade 0.5s ease 1 forwards;
    z-index: 20;
    font-family: "Cinzel", serif;
    
  }

  .helpIcon{
      z-index: 200;
  }
  
  /* headline in popup window */
  h3 {
    text-align: center;
    font-size: 30px;
  }
  
  /* close button in popup window */
  .closeBtn {
    border: 1px solid rgb(121, 121, 121);
    border-radius: 50%;
   
  }
