
.landingpage {
  display: flex;
  position: relative;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(180deg, #000, #10a329 );
  background-size: 100% 100%;
  animation: sky 50s ease infinite;
  z-index: 1;
}


@keyframes sky { 
  0%   { background-position: 50% 0 }
  50%  { background-position: 50% 100%; }
  100% { background-position: 50% 0 }
}

.title {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 150px;
  color: rgb(255, 255, 255);
  text-shadow: 0 9px 9px rgba(0,0,0, .25);
  font-family: 'Cinzel', serif;
}

.button-list{
  position: absolute;
  display: flex;
  justify-content: center;
  top: 60%;
  height: 50px; 
}

.button{
  width: 200px;
  margin-right: 40px;
  border-radius: 8px;
  font-size: 20px;
  font-family: 'Cinzel', serif;    
  box-shadow: 0px 0px 12px -2px; 
  background-color: rgb(255, 240, 211);
  z-index: -1;
}

.button:hover {
  background-color: rgb(50, 53, 52);
  color: white;
}
.button:active{
  background-color: rgb(44, 43, 40);
  transform: translate(4px);
}

.deck {
  display: block;
  position: relative;
  top: -10px;
  animation: rain linear infinite;
  transform: translate3d(0,0,0);
  z-index: -1;
}

.card1 {
    animation-duration: 4s;
}

.card2 {
  animation-duration: 5.5s;
}

.card3 {
  animation-duration: 4.1s;
}

.card4 {
  animation-duration: 6s;
}

.card5 {
  animation-duration: 4.5s;
}

.card6 {
  animation-duration: 4.7s;
}

.card7 {
  animation-duration: 5s;
}
.card8 {
  animation-duration: 3.5s;
}

.card9 {
  animation-duration: 3.8s;
}
.card10 {
  animation-duration: 4.2s;
}

@keyframes rain {
  from { top: -30%;}
  to   { top: 100%;}
}



/*popUp box*/
.popUp{
    position: absolute;
    background-color: rgb(214, 212, 208);
    font-family: 'Cinzel', serif; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    min-width: 280px;
    max-width: 500px;
    height:auto;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    border-top: 1px solid white;
    border-bottom: 1px solid #B4B4B4;
    animation: fade 1s ease 1 forwards;
    z-index: 1;
  

}

*, 
*:before, 
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.popUp h1 {
    text-align: center;
    font: size 1.2rem;
    margin: 1.5rem 1rem 0.5rem 0;
}

.popUp p {
  text-align: center;
  font-size: 1rem;
  margin: 0 2rem 4.5rem;
}

.popUpBtn{
  background: transparent;
  color: #484b4e;
  height: 3rem;
  font-size: 1.2rem;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  border-bottom: none;
  border-top: 1px solid #B4B4B4;
  border-left: none;
  border-right: none;
  
}

.popUpBtn:focus,
.popUpBtn:hover {
font-weight: bold;
background: rgb(232, 231, 228);
}
.popUpBtn:active {
background: #D6D6D6;
}



 

  