#canvas {
    background-color: transparent;
    width: 35%;
    height: 35%;
}

/* div for cam */
#overlay {
    position: absolute;
    z-index: 10;
    width: 35%;
    height: 35%;
}

/* Cam layout */
#webcamLayer {
    display: flex;
    width: 75%;
    height: 75%;
    
}


.left{
    display: flex;
    flex-direction: column;
   justify-content: space-between;
   width: 70%;
  
}

.right-div{
    width: 30%;


}