#canvas {
    background-color: transparent;
    width: 35%;
    height: 35%;
}

/* div for cam */
#overlay {
    position: absolute;
    z-index: 10;
    width: 35%;
    height: 35%;
}

/* Cam layout */
#webcamLayer {
    display: flex;
    width: 37%;
    height: 37%;
    float: right;
}

.right_div{
    margin-top:2%;
    display: flex;
    flex-direction: column;
   justify-content: space-between;
   margin-left: 300px;

}